<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feige.mapper.StudentMapper">
    <select id="getStudents" resultMap="StudentTeacher" >
        select s.sid, s.name sname , t.name tname
        from student s,teacher t
        where s.tid = t.tid
    </select>
    <resultMap id="StudentTeacher" type="com.feige.pojo.Student">
        <id property="sid" column="sid"/>
        <result property="name" column="sname" />
        <!--关联对象property 关联对象在Student实体类中的属性-->
        <association property="teacher" javaType="com.feige.pojo.Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>
</mapper>